            .updateWizard
            {
    position:absolute;
    top: 79px;
    left: 207px;
    height: 249px;
}
            .Agence
            {
                position:absolute;
    top: 19px;
    left: 351px;
    height: 16px;
}